.container {
  width: 80%;
  margin: auto;
  font-family: Arial;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-card {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.edit {
  background: #17a2b8;
  color: white;
}

.delete {
  background: #dc3545;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #333;
  color: white;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}